window {
  font-family: "Terminus (TTF)";
  font-size: 14px;
  background: #333;
}

#workspaces button,
#workspaces button:hover {
  background: #555;
  transition: none;
  border-radius: 0;
  border: 0;
  outline: 0;
  padding: 0px;
  min-width: 30px;
  border: 1px solid #555;
}

#workspaces .visible,
#workspaces .visible:hover {
  border: 1px solid #bbb;
  background: #888;
}

#mode {
  border: 1px solid #bbb;
  background: #888;
  padding: 0 15px;
  font-style: normal;
}

.modules-center > * > *,
#language {
  background: #555;
  border: 0;
  padding: 0px 10px;
}

.modules-right {
  padding-right: 10px;
}
